@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

@mixin responsive($size) {
  @if $size == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
}
