@import "./variables";
@import "./mixins";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
// body {
//   font-family: $font-main;
//   background: $light;
//   color: $dark;
// }

/* COMMON */
.container {
  @include container;
}

.section {
  padding: 80px 0;

  @include responsive(mobile) {
    padding: 50px 0;
  }
}
